<div id="toast-container" class="toast-wrapper"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/session-guard.js"></script>
<script src="js/toast.js"></script>
<script src="js/stockAlert.js"></script>
<script src="js/productThumbnail.js"></script>
<script src="js/variantUtils.js"></script>
<script src="js/cartDisplayUtils.js"></script>
<script src="js/cart.js"></script>
<script src="js/invoiceDownload.js"></script>
<link rel="stylesheet" href="/css/chat-widget.css">
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js" defer></script>
<script src="/js/chat-widget.js" defer></script>
<script src="js/orderChat.js"></script>
<script src="js/bd-districts.js"></script>
<script src="js/bd-upazilas.js"></script>
<script type="module" src="js/profile.js"></script>
