<div id="toast-container" class="toast-wrapper"></div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/utils/storage.js"></script>
    <script src="/js/utils/telemetry.js"></script>
    <script src="/js/utils/sanitizer.js"></script>
    <script src="/js/store/commerceState.js"></script>
    <script src="/js/utils/profileCache.js"></script>
    <link rel="stylesheet" href="/css/invoice.css">

<script src="/js/i18n.js"></script>
<script src="/js/utils/localeCoordinator.js"></script>
<script src="/js/utils/contentLocale.js"></script>
<script src="/js/utils/productLocale.js"></script>
<script src="js/session-guard.js"></script>
<script src="js/toast.js"></script>
<script src="js/stockAlert.js"></script>
<script src="js/productThumbnail.js"></script>
<script src="js/variantUtils.js"></script>
<script src="js/cartDisplayUtils.js"></script>
<script src="js/cart-merge.js"></script>
<script src="js/cart.js"></script>
<script src="js/profile/invoice.js"></script>
<link rel="stylesheet" href="/css/chat-widget.css">
<script src="https://cdn.socket.io/4.7.2/socket.io.min.js" defer></script>
<script src="/js/chat-widget.js" defer></script>
<script src="js/orderChat.js"></script>
<script src="js/bd-districts.js"></script>
<script src="js/bd-upazilas.js"></script>
<script type="module" src="js/profile.js"></script>
